<div class="signup-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="" />
          @if (signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched) {
            <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="email@example.com" />
          @if (signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched) {
            <mat-error>Email is required</mat-error>
          }
          @if (signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched) {
            <mat-error>Invalid email format</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password" />
          @if (
            signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched
          ) {
            <mat-error>Password is required</mat-error>
          }
          @if (
            signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched
          ) {
            <mat-error>Password must be at least 6 characters</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
          @if (
            signupForm.get('confirmPassword')?.hasError('required') &&
            signupForm.get('confirmPassword')?.touched
          ) {
            <mat-error>Confirm password is required</mat-error>
          }
          @if (
            signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched
          ) {
            <mat-error>Passwords do not match</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">
          Sign Up
        </button>

        <div class="link-container">
          <p>Already have an account? <a routerLink="/login">Login here</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
